@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
body {
  background-color: #0a172b;
  color: #909CAC;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  line-height: 50px;
}

p {
  line-height: 20px;
}
p span {
  font-size: 12px;
  font-style: italic;
}

.menu-container {
  display: table;
  position: absolute;
  top: 55%;
  left: 5%;
  -webkit-transform: translate(-46%, -55%);
          transform: translate(-46%, -55%);
}
.menu-container ul#main-nav {
  position: relative;
  float: left;
  text-align: right;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
}
.menu-container ul#main-nav li {
  padding: 30px 15px;
  cursor: pointer;
}

.active {
  color: #dbb61b;
  font-weight: 600;
}

#slidingLine {
  position: absolute;
  top: 0;
  right: -2px;
  width: 3px;
  padding: 0 !important;
  background-color: #dbb61b;
}

.contenido {
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-46%, -55%);
          transform: translate(-46%, -55%);
}